@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  h1 {
    @apply text-4xl smmx:text-3xl;
  }
  h2 {
    @apply text-4xl smmx:text-3xl;
  }

  h3 {
    @apply text-3xl smmx:text-2xl;
  }
  h4 {
    @apply text-2xl smmx:text-xl;
  }

  h5 {
    @apply text-xl smmx:text-lg;
  }
  h6 {
    @apply text-lg smmx:text-md;
  }

  .p1 {
    @apply text-md smmx:text-base;
  }

  .p2 {
    @apply text-base smmx:text-sm;
  }

  .p3 {
    @apply text-sm;
  }

  .p4 {
    @apply text-xsm;
  }

  .p5 {
    @apply text-xxsm;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-gray-300 text-foreground;
  }
}

:root {
  --font-roboto: "Roboto", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  font-family: var(--font-roboto), sans-serif;
}

.sidebar .active {
  font-weight: 700;
}

.default__check[type="checkbox"] {
  display: none;

  ~ .custom__check {
    display: flex;
    align-items: center;
    height: 24px;
    border: 2px solid #e0e0e0;
    background: #fff;

    position: relative;
    transition: all 0.4s ease;
    cursor: pointer;

    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      transition: all 0.4s ease;
    }
  }

  &:not(.switchbox) {
    ~ .custom__check {
      justify-content: center;
      width: 24px;

      &:after {
        visibility: hidden;
      }
    }
  }

  &:disabled {
    ~ .custom__check {
      background-color: #e0e0e0 !important;
      border: #e0e0e0 !important;
      opacity: 1;
      cursor: not-allowed;

      &:after {
        border-bottom: 3px solid #979797 !important;
        border-right: 3px solid #979797 !important;
      }
    }
  }

  &:checked {
    ~ .custom__check {
      background-color: #2563eb;
      border: #2563eb;

      &:after {
        visibility: visible;
      }
    }
  }
}

.default__check[type="checkbox"] {
  &:not(.switchbox) {
    ~ .custom__check {
      border-radius: 4px;
      &:after {
        height: 14px;
        width: 7px;
        margin-top: -2px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(45deg);
      }
    }
  }
}
